body{
    margin: 0;
    height:2000px
}
/* header */
.top{
    width: 100%;
    height: fit-content;
    position:fixed ;
    z-index: 3;
}
.tip{
    width: 100%;
    padding: 2px;
    background:black;
    color: white;
    text-align: center;
}
.header{
    width: 100%;
    height: 72px;
    background: skyblue;
    display: flex;
    align-items: center;
    
}
.header h2{
    color: white;
    margin: 0 10px 0 20px;
}
.logo img{
    width: 40px;
    height: auto;
    margin: 0 10px 0 20px;
}
.menu{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

}
.menu a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-right:1px white solid ;
    font-size: 20px;
    color: white;
    padding: 16px;
}
.menu a:hover{
    color: white;
    background:orange;
    text-decoration: none;
}
.menu-btn svg{
    position:absolute;
    right: 0;
    margin-right :20px; 
    
}
@media (min-width:768px){  
    .menu-btn{
        display: none;
    }
}
/*桌機*/
@media (max-width:768px){
    .menu{
        display: none;
    }
    .menu-show a {
        font-size: 24px;
        color: skyblue;
        padding: 20px;
        text-decoration: none;
        border-bottom: 1px solid skyblue;
    }
}
.menu-show{    
    width: 80%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
}
.space{
    width: 100%;
    height: 60px;
}


/* container */

.graphic{
    display: flex;
    flex-direction: row;
}
.graphic .item{
    width: 300px;
    /* border: 1px solid gray; */
}
.graphic img{
    width: 50%;
}
.paragrapg img{
    width: 200px;
}
/* footer */
.footer{
    width: 100%;
    height: 60px;
    background: skyblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.footer span{
    width: fit-content;
}

.icon-group{
    display: flex;
    flex-direction: row;

}
.icon svg,.icon a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

